Repository digitalservicebund/style-dictionary: changes, and which lefthook commands are due for each by the changed paths.
All: 2_prettier, 3_eslint

2_prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

3_eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

Tweak ci pipeline
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  lefthook.yml
  package-lock.json
  package.json
  test/tailwind.test.js
  test/tokens.test.js
Due: 2_prettier

Cleanup
  .github/workflows/ci.yml
  package.json
Due: none

Add action to publish to npm on release creation
  .github/workflows/publish.yml
Due: none

Fix action trigger
  .github/workflows/publish.yml
Due: none

Should be fine
  .github/workflows/publish.yml
Due: none

Fix publishing not just dist folder
  .github/workflows/publish.yml
Due: none

Fix package.json not copied to dist folder
  .github/workflows/publish.yml
Due: none

Try another release workflow
  .github/workflows/publish.yml
Due: none

Fix version number incorrect because of extra output
  .github/workflows/publish.yml
Due: none

Remove dry-run flag from publish workflow
  .github/workflows/publish.yml
Due: none

Fix deprecation warning
  package-lock.json
  package.json
Due: none

Update license
  LICENSE
Due: none

Update readme, move content to documentation website
  README.md
  website/docs/how-to/use-with-javascript.md
  website/docs/how-to/use-with-stitches.md
  website/docs/how-to/use-with-tailwind.md
  website/docs/intro.md
Due: 2_prettier

Update changelog
  CHANGELOG.md
Due: 2_prettier

Tweak publish workflow
  .github/workflows/publish.yml
Due: none

Release v1.1.1
  package.json
Due: none

Fix file uploading in Release step
  .github/workflows/publish.yml
Due: none

Fun with readme badges
  README.md
Due: 2_prettier

Fix CodeQL warning
  website/tsconfig.json
Due: none

Change spacing tokens (again)
  CHANGELOG.md
  tokens/globals/size/spacing.yaml
Due: 2_prettier

Update docs
  website/docs/explanation/_category_.json
  website/docs/explanation/colors.md
  website/docs/explanation/spacing.md
  website/docs/how-to/use-with-tailwind.md
  website/docs/intro.md
  website/docusaurus.config.js
  website/src/pages/colophon.md
  website/src/pages/markdown-page.md
Due: 2_prettier

Update specs
  package-lock.json
  test/tailwind.test.js
  test/tokens.test.js
Due: 2_prettier

Cleanup unused package
  package-lock.json
  package.json
Due: none

Prepare changelog for release v2.0.0
  CHANGELOG.md
Due: 2_prettier

Release v2.0.0
  package.json
Due: none

Update dependencies
  CHANGELOG.md
  package-lock.json
Due: 2_prettier

chore: housekeeping
  build.ts
  package-lock.json
  package.json
Due: 2_prettier, 3_eslint

feat!: remove support for stitches
  build.ts
  package.json
  website/docs/how-to/use-with-stitches.md
  website/docs/intro.md
Due: 2_prettier, 3_eslint

chore: update deps
  package-lock.json
  package.json
  test/tokens.test.js
Due: 2_prettier

docs: move docusaurus website content to readme
  .github/workflows/ci.yml
  README.md
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/docs/explanation/_category_.json
  website/docs/explanation/colors.md
  website/docs/explanation/spacing.md
  website/docs/how-to/_category_.json
  website/docs/how-to/install.md
  website/docs/how-to/use-with-javascript.md
  website/docs/how-to/use-with-tailwind.md
  website/docs/intro.md
  website/docs/reference/_category_.json
  website/docs/reference/nested-json.mdx
  website/docs/reference/tailwind-preset.mdx
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/components/HomepageFeatures/index.tsx
  website/src/components/HomepageFeatures/styles.module.css
  website/src/components/TailwindPreset/index.tsx
  website/src/components/TokensJson/index.tsx
  website/src/css/custom.css
  website/src/pages/colophon.md
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/src/pages/test.js
  website/static/.nojekyll
  website/static/img/docusaurus-social-card.jpg
  website/static/img/docusaurus.png
  website/static/img/favicon.ico
  website/static/img/logo.svg
  website/static/img/undraw_color_palette_re_dwy7.svg
  website/static/img/undraw_dev_productivity_re_fylf.svg
  website/static/img/undraw_my_files_swob.svg
  website/tsconfig.json
Due: 2_prettier

chore: update dependencies
  package-lock.json
  package.json
Due: none

Create opencode.yml
  opencode.yml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/publish.yml
Due: none

chore: add deprecation warning
  README.md
Due: 2_prettier

chore: fix vulnerabilities
  package-lock.json
  package.json
Due: none

Path conditions:
  2_prettier: any of: *.{ts,js,yaml,md}
  3_eslint: any of: *.ts
